@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/Fira_Code/FiraCode-VariableFont_wght.ttf") format('truetype'),
         url("../fonts/Fira_Code/FiraCode-VariableFont_wght.woff2") format('woff2');
}

body { font-family: "Fira Code", monospace; }

main p, main ul { font-size: 1rem; }

main code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1rem;
}

pre code {
    font-size: 0.85rem;
}

h2 { font-size: 1.5rem; }

.header { 
    font-family: "Fira Code", monospace;
    font-weight: bold; 
    font-size: 0.9rem;
}

.article-meta .title { font-size: 2rem; }

.article-meta .createdat,
.article-meta .lastmodat
{ font-size: 0.9rem; }

.message { font-size: 0.9rem; }

.banner { font-family: "Fira Code", monospace; }

.post-list {
    font-family: "Fira Code", monospace;
    font-size: 1rem;
}

footer { font-size: 0.9rem; }

@media only screen and (max-width: 450px) {
    .article-meta .title { font-size: 1.6rem; }
    .article-meta .createdat,
    .article-meta .lastmodat {
        font-size: 0.8rem;
    }
    .ascii { font-size: 0.7rem; }
    h2 { font-size: 1.2rem; }
    ul { padding: 0 1rem; }
}
