:root {
    --pagefind-ui-scale: 3;
    --pagefind-ui-primary: #ff0000;
    --pagefind-ui-text: #393939;
    --pagefind-ui-background: #333;
    --pagefind-ui-border: #0000ff;
    --pagefind-ui-tag: #00ff00;
    --pagefind-ui-border-width: 20px;
    --pagefind-ui-border-radius: 80px;
    --pagefind-ui-image-border-radius: 8px;
    --pagefind-ui-image-box-ratio: 3 / 2;
    --pagefind-ui-font: sans-serif;
}
