{{ partial "header.html" . }}

{{ if not .Params.findpage_index_page }}
<div class="wrapper" data-pagefind-ignore>
{{ else }}

<div class="wrapper">

{{ if not .IsHome }}
    <h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ if .Params.findpage_searchbar_enabled }}
    <div id="search"></div>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ element: "#search", showSubResults: true });
        });
    </script>
{{ end }}

{{ .Content }}

    <div class="list-container">
      {{ $pages := .Pages }}
      {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
      {{ range (where $pages "Section" "!=" "") }}
        <div class="list-item">
            <span>
                <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
            </span>
            <span class="date">{{ .Date.Format "Jan 02, 2006" }}</span>
        </div>
      {{ end }}
    </div>
</div>

{{ end }}

{{ partial "footer.html" . }}
