{{ partial "header.html" . }}

<div class="wrapper">

{{ if not .IsHome }}
    <h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ if .Params.search_enabled }}
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="/pagefind/pagefind-ui.js"></script>
    <div id="search"></div>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ element: "#search", showSubResults: true });
        });
    </script>
{{ end }}

{{ .Content }}

    <div class="list-container">
      {{ $pages := .Pages }}
      {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
      {{ range (where $pages "Section" "!=" "") }}
        <div class="list-item">
            <span>
                <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
            </span>
            <span class="date">{{ .Date.Format "Jan 02, 2006" }}</span>
        </div>
      {{ end }}
    </div>
</div>
{{ partial "footer.html" . }}
