{{ partial "header.html" . }}

<div class="wrapper" data-pagefind-ignore>

    <div class="banner">
        <pre class="ascii">

  ,---.--.         
 /     )  `/\___/\ 
 |    `   / .   . \
 \ `.____ \  >-<  /
  `-.____)`._)_)_/ 

        </pre>

        <div class="message">
            <p>{{ .Site.Params.messageTitle }}</p>
            <p>{{ .Site.Params.messageContent }}</p>
        </div>
    </div>

{{ .Content }}

    <div class="list-container">
        {{ range (.Paginate ( where site.RegularPages "Section" "!=" "" | first 5 ) ).Pages }}
        <div class="list-item">
            <span>
                <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
            </span>
            <span class="date">{{ .Date.Format "Jan 02, 2006" }}</span>
        </div>
      {{ end }}
    </div>
    <div id="show-all-btn">
        <a href={{ absURL "/notes" }}>See all</a>
    </div>
</div>
{{ partial "footer.html" . }}
